@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
.nav-link{
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px !important;
}
body{
    
    background-color: #f4f4f4 ;
}

h1{
    color: #37814F;
  text-transform: capitalize;
}
.pg-title{
    font-family: 'Staatliches', cursive;
    font-size: 4.0em !important;
}
.sd-item{
    text-decoration: none;
    
}